name: Release
# This workflow helps with creating releases.
# This job will only be triggered when a tag (vX.X.x) is pushed
on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - "v[0-9]+.*" # Push events to matching v0.*, v1.*, etc., i.e. v1.0, v2.15.10, v1.2.3-beta.0

permissions:
  contents: read

jobs:
  release:
    permissions:
      contents: write # for goreleaser/goreleaser-action to create a GitHub release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22.4
      - name: Unshallow
        run: git fetch --prune --unshallow
      - name: Create release
        uses: goreleaser/goreleaser-action@v5
        with:
          args: release --clean
          version: "~> v1"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
